/* Color Palette 
Black: Black
Dark Gray: #333333
Light Brown: #bcae8f
Maroon: #91091e
White: White
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@900&family=Prompt:wght@900&display=swap');
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1,
h2,
h3 {
  font-family: 'Prompt';
}

p,
small,
li,
a,
span,
div,
button {
  font-family: 'Merriweather';
}

body {
  background-color: #333;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55)),
    url(img/tapas-4.jpg) center center no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.hero .logo img {
  width: 300px;
}

.hero .header .button {
  cursor: pointer;
  background-color: #91091e;
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  padding: 15px 35px;
  border-radius: 5px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  margin-bottom: 45px;
}

.hero-content h1 {
  text-align: center;
  padding: 90px 15px 15px 15px;
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.hero-content p {
  text-align: center;
  padding: 0 15px 45px 15px;
  font-size: 1.4em;
  font-weight: 400;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.hero-content small {
  text-align: center;
  padding: 0 15px 90px 15px;
  font-size: 1.2em;
  font-weight: 400;
  color: #91091e;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #bcae8f;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.calendar {
  margin: 90px 0;
}

.calendar h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 45px;
}

@media (max-width: 769px) {
  .hero-content h1 {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }
}

a.footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 2em;
  background-color: #4fb9fc;
  text-decoration: none;
  color: #fff;
  border-top: 45px solid #000;
}

.smgc-cal-rDpFlqK5MnWf65yxiZuQ-calendar-month-title {
  font-family: 'Prompt' !important;
}
